{% extends 'base.html' %}
{% load static %}

{% block content %}



      <div class="container">
        <div class="page-banner home-banner">
          <div class="row align-items-center flex-wrap-reverse h-100">
            <div class="col-md-6 py-5 wow fadeInLeft">
              <h1 class="mb-4">Let's Help You Achieve Your Web Dev Goals!</h1>
              <p class="text-lg text-grey mb-5">
                Explore a world of endless possibilities with the most powerful
                web development and career growth platform
              </p>
              <a href="#" class="btn btn-primary btn-split"
                >Get Started
                <div class="fab"><span class="mai-play"></span></div
              ></a>
            </div>
            <div class="col-md-6 py-5 wow zoomIn">
              <div class="img-fluid text-center">
                <img src="{% static 'website/img/banner_image_1.svg' %}" alt="" />
              </div>
            </div>
          </div>
          <a href="#about" class="btn-scroll" data-role="smoothscroll"
            ><span class="mai-arrow-down"></span
          ></a>
        </div>
      </div>
    </header>

    <div class="page-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card-service wow fadeInUp">
              <div class="header">
                <img src="{% static 'website/img/services/service-1.svg' %}" alt="" />
              </div>
              <div class="body">
                <h5 class="text-secondary">Code internship</h5>
                <p>
                  We help you define your career goals with our world class mentors
                </p>
                <a href="service.html" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card-service wow fadeInUp">
              <div class="header">
                <img src="{% static 'website/img/services/service-2.svg' %}" alt="" />
              </div>
              <div class="body">
                <h5 class="text-secondary">Content Marketing</h5>
                <p>
                  We help you define your career goals with our world class programmes
                </p>
                <a href="service.html" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card-service wow fadeInUp">
              <div class="header">
                <img src="{% static 'website/img/services/service-3.svg' %}" alt="" />
              </div>
              <div class="body">
                <h5 class="text-secondary">Keyword Research</h5>
                <p>
                  We help you define your career goals with our world class partnerships
                </p>
                <a href="service.html" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- .container -->
    </div>
    <!-- .page-section -->
{% endblock %}

